
        <div class="w-full flex justify-center h-full items-center">
            <div class="w-full max-w-[1200px]">
                <h1 
                        class=" my-14 font-bold  text-2xl {{section.settings.header_aligment}}">
                        {{search.results_count}} result for the keyword {{search.terms}}
                </h1>
                {% paginate search.results by section.settings.display_length %}
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-5">
                        {% for product in search.results %}
                            {% render "display_product" product:product  %}
                        {% endfor %}
                    </div>
                    <div class=" flex justify-center mt-3">
                        {% if paginate.previous %}
                            <span class=""><a href="{{paginate.previous.url}}" class=" text-red-500">Previous</a></span>
                        {% endif %}
                        <span class="mx-2 inline-block">{{paginate.current_page}}</span>
                        {% if paginate.next %}
                            <span ><a href="{{paginate.next.url}}" class=" text-red-500">Next</a></span>
                        {% endif %}      
                    </div>
                {% endpaginate %}
            </div>
        </div>

        {% schema %}
            {
                "name": "Search Result Section",
                "settings": [
                         {
                            "type": "number",
                            "id": "display_length",
                            "default": 20,
                            "label": "Display Length"
                         },
                         {
                                    "type": "radio",
                                    "id": "header_aligment",
                                    "label": "Header alignment",
                                    "options": [
                                        {
                                            "value": "text-left",
                                            "label": "left"
                                        },
                                        {
                                            "value": "text-center",
                                            "label": "center"
                                        },
                                        {
                                            "value": "text-right",
                                            "label": "right"
                                        }
                                        
                                    ],
                                    "default": "text-left"
                                }
                    ]
            }
            {% endschema %}
